<h1>Listing threads</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @threads.each do |thread| %>
      <tr>
        <td><%= thread.title %></td>
        <td><%= link_to 'Show', controller: "posts", action: "index", thread_id: thread.id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Threads', new_thread_path %>
